.yue {
position:fixed;
	bottom:10vh;
	left:1vw;
	background-color:transparent;
	width:5vw;
	height:5vw;
	border-style:none;
    z-index: 91;
    outline: none;
}
::selection{
color:white;
background-color:#FF6699;
}
::-moz-selection
{
color:white;
background-color:#FF6699;
}
.yuea {
position:fixed;
	bottom:50px;
	left:0vw;
	width:5vw;
	height:5vw;
    z-index: 91;
}
.BA {
width:100%;
}
.BD {
color:white;
background:white;
width:8%;
height:4%;
background:#FF6699;
border-radius:5vw;
font-size:2vw;
}
.BB {
color:#C09F96;
font-size:4vw;
}
.BC {
color:#C09F96;
width:80%;
}
.BBA {

left:-3px;
width:80%;
height:25%;
z-index: 3;
border-style:none;
background-color:transparent;

}
.YC {
opacity:0.2;
width:80%;
}

.no {
position:fixed;
	top:5vh;
	left:95vw;
width:5vw;
height:5vw;
outline: none;
z-index: 999;
opacity:0;
background-color:#FF6699;
color:white;
border-style:none;
}
.blackbut {
position:fixed;
	top:0px;
	right:0px;
width:100vw;
height:100vh;
font-size:10vw;
border-style:none;background-color:transparent;
	z-index:20002;
}
.black {
width:100%;
height:100%;
background:black;
position:fixed;
	top:0px;
	left:0px;
	z-index:20000;
	display:none;
}
#img {
width:100vw;
height:100vh;
position:fixed;
	top:0px;
	left:0px;
	z-index:20001;
	display:flex;
align-items:center;
justify-content:center;
}
.blackA {

width: 100vw;
height: 100vh; 
 
  object-fit: contain;

position:fixed;
	top:0vh;
	left:0%;
	z-index:20000;
	animation:A 0.5s infinite;
	animation-iteration-count:1;
}
@keyframes A
    {
    from {height:97%}
    to {height:100%}
    }
    .black a {
    z-index:230000;
    position:fixed;
	top:50vh;
	left:95vw;
	color:#FF6699;
    } 
    .blackimg {
    width:5vw;
    }
   #fh {
text-decoration:none;
font-size:7vw;
color:#FF6699;
position:fixed;
top:0px;
border-style:none;
background-color:transparent;
z-index: 100002;
}