body {
display:flex; 
flex-direction:column;
align-items:center;
background:#636363;
background-image:url('bj2.jpg');
background-attachment:fixed;
background-position: center top;
background-size: cover;


}
::selection{
color:white;
background-color:#FF6699;
}
::-moz-selection
{
color:white;
background-color:#FF6699;
}
* {
outline: none;
}
#head {
display:none;
}
#black-div {
pointer-events: none;
background:none;
width:100vw;
height:200vh;
position:fixed;
	top:0px;
	left:0px;
z-index: 999999992;
opacity:0.5;
}
#time {
color:white;
font-size:10vh;
position:relative;
buttom:10vh;
pointer-events: none;
}
#time-div {
width:90vw;
display: flex;
flex-direction:column;
align-items:center;
position:absolute;
top: 90vh;
pointer-events: none;
}
#time-small {
color:white;
font-size:0.5em;
margin-top:0.5em;
pointer-events: none;
}
#ts {
width:100vw;
height:5vw;
background:#ffdd71;
position:fixed;
top:0px;
left:0px;
z-index: 50000;
font-size:0.95em;
Overflow:auto;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
#tsc {
position:absolute;
	right:3%;
	font-size:2vw;
}
#tsb {
position:absolute;
	left:0px;
	font-size:2vw;
}
.dzja {
width:150px;
height:40px;
Overflow:hidden;
position:relative;
top: 15%;
background:rgba(108,108,108,0.5);

}
.dzj {
color:white;
width:11px;
height:20px;
font-size:13px;
Overflow:hidden;
animation:dzj 10s infinite;
border-right-style:solid;
border-right-width:2px;
border-right-color:white;

}
@keyframes dzj
    {
    0%   {border-right-style:none;}
    0%   {width:18px;}
    3%   {width:18px;}
    6%  {width:32px;}
    6%   {border-right-style:solid;}
    9%  {width:48px;}
    12% {width:64px;}
    15% {width:80px;}
    18% {width:96px;}
    21% {width:112px;}
    24% {width:128px;}
    28% {width:144px;}
    28%  {border-right-style:solid;}
    32%   {border-right-style:none;}
    36%  {border-right-style:solid;}
    40%   {border-right-style:none;}
    44%  {border-right-style:solid;}
    48%   {border-right-style:none;}
    52%  {border-right-style:solid;}
    56%   {border-right-style:none;}
    60%  {border-right-style:solid;}
    64%   {border-right-style:none;}
    68%  {border-right-style:solid;}
    72%   {border-right-style:none;}
    76%  {border-right-style:solid;}
    80%   {border-right-style:none;}
    84%  {border-right-style:solid;}
    86%   {border-right-style:none;}
    86%  {border-right-style:solid;}
    86% {width:144px;}
    95% {width:18px;}
    100% {width:18px;}
    }
#IE {
background-color:#FF6699;
position:fixed;
	top:0vh;
	left:-300%;
width:15%;
height:40px;
border-style:none;
z-index: 39001;
opacity:0;
}
#IED {
position:absolute;
	top:350vh;
	left:1%;
	Overflow:auto;
width:30%;
height:50vw;
z-index: 1;
margin-top:5vw;
background:white;
filter: drop-shadow(0px 2px 10px  #aab5bc);
}
.IEDA {
width:100%;
height:15%;
background-color:#FF6699;
position:absolute;
	top:0%;
	left:0%;
z-index: 39000;
	}
#IETXA {
position:absolute;
	top:0%;
left:0%;
	width:9vw;
	border-radius:300px;
	z-index: 39001;
}
#IETX {
position:absolute;
	top:0%;
	left:0%;
	width:9vw;
	border-radius:300px;
	height:9vw;
	outline: none;
	border-style:none;
background-color:transparent;
z-index: 39001;
}
#IEPA {
position:absolute;
top:0vw;
left:10vw;
color:white;
z-index: 39001;
font-size:3vw;
}
#busuanzi_container_site_uv {
position:absolute;
	top:18%;
	left:3%;
	color:#FF6699;
	z-index: 39001;
	font-size:2vw;
}
#wl_a {
}


#book_a {
display:none; 
}
#book_b {
display:none;

}
#IEa {
width:80%;
color:black;
position:relative;
	top:30%;

z-index: 39008;
list-style-type: none;
    margin: 0;
    padding: 0;
 border-top-style:solid; 
 border-top-color:#FF6699;
}
#IEa button {
width:100%;
text-decoration:none;
color:#FF6699;
font-size:3vw;
text-align-last: left;
border-style:none;
background-color:transparent;
outline: none;
}
#IEa p {
width:100%;
text-decoration:none;
color:#FF6699;
font-size:2.6vw;
text-align-last: left;

}
#IEa button:hover {
	animation:IEa 0.5s infinite;
	animation-iteration-count:1;
	font-size:3.2vw;
	color:#ffafd0;
}
@keyframes IEa
    {
    from {font-size:3vw}
    to {font-size:3.2vw}
    }

 
    
          
#sz {
background-color:white;
position:fixed;
	top:0vh;
	left:-100vw;
width:100vw;
height:100vh;
Overflow:auto;
z-index: 40000;
}
#sz div {
width:100vw;
height:10vh;
position:relative;
	top:0vw;
background-color:#FF6699;
z-index: 40000;
}
#sz p {
color:#FF6699;
}
#szno {
width:30vw;
height:30px;
border-style:solid;
border-color:#eee;
color:white;
background-color:#FF6699;
border-radius:8px;
outline: none;

}
#sza {

border-style:none;
color:#FF6699;
}
#szabutton {
width:25px;
height:25px;
border-style:solid;
border-color:#eee;
color:#FF6699;
background-color:#FF6699;
border-radius:300px;
margin-left:50px;
outline: none;
}
#szb {

border-style:none;
color:#FF6699;
}
#szbbutton {
width:25px;
height:25px;
border-style:solid;
border-color:#eee;
color:#FF6699;
background-color:#FF6699;
border-radius:300px;
margin-left:50px;
outline: none;
}
#szc {

border-style:none;
color:#FF6699;
}
#szcbutton {
width:25px;
height:25px;
border-style:solid;
border-color:#eee;
color:#FF6699;
background-color:#FF6699;
border-radius:300px;
margin-left:50px;
outline: none;
}
#szd {

border-style:none;
color:#FF6699;
}
#szdbutton {
width:25px;
height:25px;
border-style:solid;
border-color:#eee;
color:#FF6699;
background-color:#FF6699;
border-radius:300px;
margin-left:50px;
outline: none;
}
.imgq {
width:105%;
position:absolute;
top: -2px;
left: -2px;
border-radius:300px;
}
.butw {
width:7vw;
height:7vw;
position:relative;
top: 10%;
border-radius:300px;
outline: none;
border-style:none;
background-color:transparent;
}

.divq {

width:100%;
height:350vh;
display:flex; 
flex-direction:column;
align-items:center;
}
.divw {
width:5vw;
height:5vw;
position:absolute;
top: 200%;
left: 33vw;
border-radius:5vw;
background:white;

}
.diva {
width:5vw;
height:5vw;
position:absolute;
top: 200%;
left: 43vw;
border-radius:5vw;
background:white;
}
.divz {
width:5vw;
height:5vw;
position:absolute;
top: 200%;
right:43vw;
border-radius:5vw;
background:white;
}
.divqq {
width:5vw;
height:5vw;
position:absolute;
top: 200%;
right: 33vw;
border-radius:1vw;
background:white;
overflow:hidden;
}

.butq {
width:5vw;
height:5vw;
position:relative;
left: 0vw;
border-radius:1vw;
background:white;
border-style:none;
	outline: none;
	z-index: 4;
filter: drop-shadow(0px 2px 5px #eee);
}
.buta {
width:5vw;
height:5vw;
position:relative;
left: 0vw;
border-radius:1vw;
background:white;
border-style:none;
filter: drop-shadow(0px 2px 5px #eee);
	outline: none;
		z-index: 4;
}
.butz {
width:5vw;
height:5vw;
position:relative;
left: 0vw;
border-radius:1vw;
background:white;
border-style:none;
	outline: none;
filter: drop-shadow(0px 2px 5px #eee);
	z-index: 4;
}
.butqq {
width:5vw;
height:5vw;
position:relative;
left: 0vw;
border-radius:1vw;
background:white;
border-style:none;
	outline: none;
filter: drop-shadow(0px 2px 5px #eee);
	z-index: 4;
}
.imgw {

display: block;
    margin: auto;
    margin-top:6px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
width:7vw;
}
.imga {
display: block;
    margin: auto;
    margin-top:6px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
width:7vw;
}
.imgz {
display: block;
    margin: auto;
    margin-top:6px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
width:7vw;
}
.imgqq {
display: block;
    margin: auto;
    margin-top:6px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
width:7vw;
}
.dive {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
top: -10px;
  }
.divd {
  width: 0;
  height: 0;
  border-left:10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
top: -10px;
  }
.divc {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
top: -10px;
  }
.divr {
width: 10vw;
height: 10vw;
background:white;
position: absolute;
top:7vw ;
opacity:0;
filter: drop-shadow(0px 2px 5px #eee);
}
.divs {
width: 10vw;
height: 10vw;
background:white;
position: absolute;
top:7vw ;
opacity:0;
filter: drop-shadow(0px 2px 5px #eee);
}
.divx {
width: 10vw;
height: 10vw;
background:white;
position: absolute;
top:7vw ;
opacity:0;
filter: drop-shadow(0px 2px 5px #eee);
}
.divr img {
width: 10vw;
height: 10vw;
}
.divs img {
width: 10vw;
height: 10vw;
}
.divx img {
width: 10vw;
height: 10vw;
}

.dq {
Overflow:hidden;
background:white;

margin-bottom:-5.5vw;
height:198vw;
width:100vw;
filter: drop-shadow(0px 2px 5px #525252);
}

.divA {
width:30%;
height:40vw;
position:absolute;
left:1%;
margin-top:55vw;
filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;

}

.divAA {
background:white;
overflow:auto;
width:100%;
height:80%;
}
.divAA button {
width:100%;
height:15%;
position:relative;
top:-5px;
background:white;
overflow:scroll;
border-style:none;
font-size:1.5vw;
}
.divAA button:hover {
color:white;
width:100%;
height:18%;
background:#6c6c6c;
border-style:solid;
-webkit-transition-property:width,height;
	-webkit-transition-duration:1s;

}
.AL:hover:after {
content: '是番剧《潜行吧！奈亚子》的op，其音乐让人听了热血沸腾，节奏感强，听了容易上瘾233 ';
}
.AA:hover:after {
content: '来自电影《朝花夕誓》的主题曲，纯净的歌声让人陶醉。纯洁的歌声仿佛让人看到玛奇亚对艾瑞尔的爱“你就是我的希比奥尔”';
}

.AB:hover:after {
content: '来自动漫《中二病也要谈恋爱》第一季的op，歌曲的旋律让人有一种莫名的上头，这也是让我非常喜欢的一首歌';

}

.AC:hover:after {
content: '来自动漫《辉夜大小姐想让我告白》第一季的op，这首歌曲疑似是中文歌233，其旋律让人十分上头。';

}

.AD:hover:after {
content: '来自动漫《一周的朋友》的op，这是一首不像op的op，不过歌词倒是照应剧情了，歌曲有一点悲惨，不过大家放心原番还是挺欢快的';

}

.AE:hover:after {
content: '来自动漫《幸运星》的op，这首歌也是脑残舞的配乐，歌曲十分欢快，歌词有点烫嘴';

}

.AF:hover:after {
content: '是乐队“放学后茶会”的处女作，这首歌由唯和mio主唱，歌词中的‘ふわふわ時間’和中文‘滑滑蛋’音相似，所以又叫滑滑蛋';
}

.AG:hover:after {
content: '是偶像团“μs”的歌曲，这首歌是真姬作曲作词。';
}
.APA {
width: 0;
  height: 0;
  border-right: 1.5vw solid transparent;
  border-left: 10vw solid #FF6699;
  border-bottom: 1.5vw solid #FF6699;
  border-top: 1.5vw solid #FF6699;
  
filter: drop-shadow(0px 2px 10px #aab5bc);
}
.APB {
font-size:2vw;
color:white;
position:absolute;
left: 1.6vw;
top:-2vw;
z-index: 88;
}
.APPA {
width: 82vw;
height:20%
overflow:hidden;
z-index: 88;
}
.divB {
background:white;
width:65%;
height:35vw;
position:relative;
left:33%;
margin-top:5vw;
filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;
overflow :hidden;
}
.BA {
height:100%;
position:absolute;
right:0px;
opacity:0.95;

}
.BBA {
position:absolute;
top:0px;
width:100%;
height:100%;
z-index: 3;
border-style:none;
background-color:transparent;

}
.BB {
color:#C09F96;
font-size:3vw;
position:absolute;
top:38%;
height:200%;
width:100%;
background:white;
opacity:0.85;
}
.BC {
color:#876C60;
position:absolute;
top:63%;
text-align-last: left;

}
.divB::-webkit-scrollbar {
display:none;
}

.BE {
position:absolute;
top:56%;
left:0px;
font-size:1.5vw;
color:#876C60;
z-index: 3;
}
 
.no {
position:fixed;
	top:3vw;
	left:97vw;
width:3vw;
height:3vw;
outline: none;
z-index: 999;
display:none;
background-color:#FF6699;
color:white;
border-style:none;
}


.yue {
position:fixed;
	bottom:10vh;
	left:1vw;
	background-color:transparent;
	width:5vw;
	height:5vw;
	border-style:none;
    z-index: 99999991;
    outline: none;
}
.yuea {
position:fixed;
	bottom:50px;
	left:0vw;
	width:5vw;
	height:5vw;
    z-index: 99999991;
}

.divC {
background:white;
width:65%;
height:35vw;
position:relative;
left:33%;
margin-top:2.5vw;
filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;
overflow :hidden;
}
.CCA{
position:absolute;
top:0px;
width:100%;
height:100%;
z-index: 3;
border-style:none;
background-color:transparent;
}
.CE {
height:100%;
position:absolute;
right:0px;
opacity:0.8;
}
.CC {
color:#C09F96;
font-size:3vw;
position:absolute;
top:2%;
left:0px;

}
.CD {
color:#876C60;
position:absolute;
top:30%;
left:0px;
width:40%;
}
.divC::-webkit-scrollbar {
display:none;
}

.CA {
position:absolute;
top:25%;
left:0px;
font-size:1.5vw;
color:#876C60;
}
.CF {
background:white;
position:absolute;
top:0px;
left:0px;
width:40%;
height:100%;
opacity:0.95;
}
.divD {

width:30%;
height:30vw;
position:absolute;
left:1%;
top:50vw;
margin-top:43vw;

filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;
}
.divDA {
background:white;
overflow:hidden;
width:100%;
height:80%;
}
.DA {
width:100%;
position:relative;
left:0%;
top:-20%;
}
.DB {
color:#2B4849;
position:absolute;
top:55%;
}
.DC {
position:absolute;
top:75%;
color:#2B4849;
font-size:1.6vw;
}
.DD {
background:white;
position:absolute;
top:60%;
left:0px;
width:100%;
height:50%;
opacity:0.9;
}
.divD::-webkit-scrollbar {
display:none;
}
.BPB {
width: 0;
  height: 0;
  border-right: 1.5vw solid transparent;
  border-left: 10vw solid #FF6699;
  border-bottom: 1.5vw solid #FF6699;
  border-top: 1.5vw solid #FF6699;
  
filter: drop-shadow(0px 2px 10px #aab5bc);
}
.BBPB {
font-size:2vw;
color:white;
position:absolute;
left: 1.6vw;
top:-2vw;
z-index: 88;
}
.BPPB {
width: 82vw;
height:20%
overflow:hidden;
z-index: 88;

}



.divE {
background:white;
width:65%;
height:35vw;
position:relative;
left:33%;
margin-top:2.5vw;
filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;
overflow :hidden;
}
.DDA{
position:absolute;
top:0px;
width:100%;
height:100%;
z-index: 3;
border-style:none;
background-color:transparent;
}
.EE {
height:100%;
position:absolute;
right:-30px;
opacity:0.8;
}
.EC {
color:#C09F96;
font-size:3vw;
position:absolute;
top:2%;
left:0px;
}
.ED {
color:#876C60;
position:absolute;
top:30%;
left:0px;
width:40%;

}
.divE::-webkit-scrollbar {
display:none;
}
.EB {
position:absolute;
top:53%;
left:20%;
color:white;
background:white;
width:20%;
height:6%;
background:#FF6699;
border-radius:5vw;
font-size:1.5vw;
}
.EA {
position:absolute;
top:25%;
left:0px;
font-size:1.5vw;
color:#876C60;
}
.EF {
background:white;
position:absolute;
top:0px;
left:0px;
width:50%;
height:100%;
opacity:0.95;
}
.EG {
position:absolute;
top:70%;
}

.divG {
background:white;
width:65%;
height:35vw;
position:relative;
left:33%;
margin-top:2.5vw;
filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;
overflow :hidden;
}
.EEA{
position:absolute;
top:0px;
width:100%;
height:100%;
z-index: 3;
border-style:none;
background-color:transparent;
}
.GE {
height:100%;
position:absolute;
right:0px;
opacity:0.8;
}
.GC {
color:#C09F96;
font-size:3vw;
position:absolute;
top:2%;
left:0px;
}
.GD {
color:#876C60;
position:absolute;
top:30%;
width:40%;
}
.divG::-webkit-scrollbar {
display:none;
}

.GA {
position:absolute;
top:25%;
left:0px;
font-size:1.5vw;
color:#876C60;
}
.GF {
background:white;
position:absolute;
top:0%;
left:0px;
width:40%;
height:100%;
opacity:0.95;
}
.GG {
position:absolute;
top:70%;
}
	
.divF {
background:white;
width:65%;
height:35vw;
position:relative;
left:33%;
margin-top:2.5vw;
filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;
overflow :hidden;
}
.FFA{
position:absolute;
top:0px;
width:100%;
height:100%;
z-index: 3;
border-style:none;
background-color:transparent;
}
.FE {
height:100%;
position:absolute;
left:-10%;
opacity:0.8;
}
.FC {
color:#C09F96;
font-size:3vw;
position:absolute;
top:2%;
left:60%;
}
.FD {
color:#876C60;
position:absolute;
top:30%;
left:60%;
width:40%;

}
.divF::-webkit-scrollbar {
display:none;
}

.FA {
position:absolute;
top:25%;
left:60%;
font-size:1.5vw;
color:#876C60;
}
.FF {
background:white;
position:absolute;
top:0%;
right:0px;
width:40%;
height:100%;
opacity:0.95;
}
.FG {
position:absolute;
top:70%;
}

#ss-div {
position:fixed;
	top:-104px;
	left:0vw;
width:97%;
z-index: 44002;
}
#ssa {

  width: 100%;
  height:90%;
background:white;
color:#FF6699;
border-style:solid;
border-color:#FF6699;
}
#ss-no {
position:fixed;
	top:0vh;
	left:97%;
	width:3%;
height:3vw;
border-style:none;
background:#FF6699;
} 


#ss-no-a {
width:0.7vw;
height:0.7vw;
border-style:solid;
border-color:white;
background:#FF6699;
border-radius:640px;
}
#ss-no-b {
width:0.1vw;
height:0.5vw;
margin-left:0.5vw;
background:white;

}
#ss-no-c {
transform:rotate(-30deg);
margin-left:40%;
margin-top:-3%;
}
#ssb {
  border-collapse: collapse; /* 折叠边框 */
    background:white;
    overflow:auto;
}
 
#ssb td {
width:100%;
  text-align: left; /* 文本靠左对齐 */
  padding: 12px; /* 设置内边距 */
  
}
#ssb p {
display:none;
}
#ssb tr {
display:none;
width:90vw;
color:#FF6699;
  /* 每一行设置底部边框*/
  border-bottom: 1px solid #FF6699;
}
input[type=range] {
    -webkit-appearance: none;
    width: 60vw;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}    
input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px; /*将轨道设为圆角的*/
    background: #eee;
    box-shadow:}
    
input[type=range]:focus {
    outline: none
    }
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #FF6699; 
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 }
 footer {

white-space: pre-wrap;
width:80vw;

text-align:center
}
footer p {
font-size:0.9em;
line-height:1.8em;
}
footer small {
font-size:0.8em;
line-height:1.8em;
}
#foot {
color:#FF6699;
font-size:1em;
}
#ki {
color:black;
text-decoration:none;
font-size:0.9em;
}
footer {
width:100vw;

z-index: 999;
display:flex; 
flex-direction:column;
align-items:center;
background:white;
opacity:0.98;
filter: drop-shadow(0px 2px 10px  #aab5bc);
border-radius:5vw;
margin-top:-5vh;
position:relative;
top: 20vh;
Overflow:auto;

}
