body {
display:flex; 
flex-direction:column;
align-items:center;
background:#FFFFFF;
background-image:url('bj.jpg');

background-attachment:fixed;
background-position: center top;
background-size: center;

background-repeat:no-repeat;



}
#head {
display:flex; 
flex-direction:column;
align-items:center;
justify-content:center;
background-color:#FF6699;
color:white;
position:fixed;
	top:0px;
	left:15vw;
width:70vw;
height:40px;
z-index: 998;
}
* {
outline: none;
}
::selection {
color:white;
background-color:#FF6699;
}
::-moz-selection {
color:white;
background-color:#FF6699;
}
#black-div {
pointer-events: none;
background:none;
width:100vw;
height:200vh;
position:fixed;
	top:0px;
	left:0px;
z-index: 999999992;
opacity:0.5;
}
#time {
color:white;
font-size:3em;
position:relative;
buttom:3em;

pointer-events: none;
}
#time-div {
width:100vw;
display: flex;
flex-direction:column;
align-items:center;
position:absolute;
top: 100vh;
pointer-events: none;

}
#time-small {
color:white;
font-size:1em;
margin-top:2em;
pointer-events: none;
}
#ts {
width:100vw;
height:15vw;
background:#ffdd71;
position:fixed;
	top:0px;
	left:0px;
z-index: 50000;
font-size:0.95em;
Overflow:auto;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
#tsc {
position:absolute;
	right:3%;
}
#tsb {
position:absolute;
	left:0px;
}
.dzja {
width:155px;
height:45px;
Overflow:hidden;
position:relative;
top: 15%;
background:rgba(108,108,108,0.5);

}
.dzj {
color:white;
width:16px;
height:25px;
font-size:18px;
Overflow:hidden;
animation:dzj 10s infinite;
border-right-style:solid;
border-right-width:2px;
border-right-color:white;
}
@keyframes dzj
    {
    0%   {border-right-style:none;}
    0%   {width:18px;}
    3%   {width:18px;}
    6%  {width:32px;}
    6%   {border-right-style:solid;}
    9%  {width:48px;}
    12% {width:64px;}
    15% {width:80px;}
    18% {width:96px;}
    21% {width:112px;}
    28% {width:128px;}
    28%  {border-right-style:solid;}
    32%   {border-right-style:none;}
    36%  {border-right-style:solid;}
    40%   {border-right-style:none;}
    44%  {border-right-style:solid;}
    48%   {border-right-style:none;}
    52%  {border-right-style:solid;}
    56%   {border-right-style:none;}
    60%  {border-right-style:solid;}
    64%   {border-right-style:none;}
    68%  {border-right-style:solid;}
    72%   {border-right-style:none;}
    76%  {border-right-style:solid;}
    80%   {border-right-style:none;}
    84%  {border-right-style:solid;}
    86%   {border-right-style:none;}
    86%  {border-right-style:solid;}
    86% {width:128px;}
    95% {width:18px;}
    100% {width:18px;}
    }
#IE {
background-color:#FF6699;
position:fixed;
	top:0vh;
	left:85%;
width:15%;
height:45px;
border-style:none;
z-index: 39010;
display:flex; 
flex-direction:column;
align-items:center;

}
#IE button {
position:absolute;
width:100%;
height:100%;
background-color:#FF6699;
border-style:none;
z-index: 39000;
}
#c-a {
z-index: 39010;
width:58%;
height:4%;
background:white;
margin-top:20%;
pointer-events: none;
}
#c-b {
z-index: 39010;
width:58%;
height:4%;
background:white;
margin-top:10%;
pointer-events: none;
}
#c-c {
z-index: 39010;
width:58%;
height:4%;
background:white;
margin-top:10%;
pointer-events: none;
}
#IED {
position:fixed;
	top:0vh;
	left:-85%;
	/*这里是暂时的↑要改成-85%*/
	
width:70%;
height:100vh;
background:white;
z-index: 39000;
Overflow:auto;
filter: drop-shadow(0px 2px 10px  #aab5bc);
}
.IEDA {
width:100%;
height:12%;
background-color:#FF6699;
position:absolute;
	top:0%;
	left:0%;
z-index: 39000;

	}
#IETXA {
position:absolute;
	top:0%;
	left:0%;
	width:23vw;

	border-radius:300px;
	z-index: 39001;
}
#IETX {
position:absolute;
	top:0%;
	left:0%;
	width:23vw;
	border-radius:300px;
	height:23vw;
	outline: none;
	border-style:none;
background-color:transparent;
z-index: 39001;
}
#IEPA {
position:absolute;
	top:1%;
	left:40%;
color:white;
z-index: 39001;
font-size:6vw;
}
#wl_a {
display:flex; 
justify-content: space-between;
width:70vw;
height:10vh;
position:relative;
	top:13%;
	left:0%;
	
}
#busuanzi_container_site_uv {

	color:#FF6699;

}
#busuanzi_container_site_uv_a {
float:left;
margin: auto;
text-align:center;
flex: 1;
height:100%;
border-right-style:solid;
border-right-width:2px;
border-right-color:#ff9cbd;
}
#book_a {
text-align:center;
flex: 1;
border-right-style:solid;
height:100%;
Overflow:hidden;
border-width:2px;
border-color:#ff9cbd;
}
#book_a p {
margin-top:-1%;
}
#book_b {
margin-left:68%;
margin: auto;
flex: 1;
text-align:center;
height:100%;
Overflow:hidden;
float:right;
}
#book_b p {
margin-top:-1%;
}
#IEa {
width:80%;
color:black;
position:relative;
	top:20%;

z-index: 39008;
list-style-type: none;
    margin: 0;
    padding: 0;
border-top-style:solid; 
 border-top-color:#FF6699;
}
#IEa button {
margin-top:3%;
width:100%;
text-decoration:none;
color:#FF6699;
font-size:6vw;
text-align-last: left;
border-style:none;
background-color:transparent;
outline: none;
margin-bottom:2%;
}
#IEa p {
margin-bottom:3%;
margin-left:2.5%;
margin-top:-0.2%;
width:100%;
text-decoration:none;
color:#FF6699;
font-size:5vw;
text-align-last: left;
font-size:6vw;
}
#IEa button:hover {
	animation:IEa 0.5s infinite;
	animation-iteration-count:1;
	font-size:6.2vw;
	color:#ff9cbd;
}
@keyframes IEa
    {
    from {font-size:6vw}
    to {font-size:6.2vw}
    }

 
    
          
#sz {
background-color:white;
position:fixed;
	top:0vh;
	left:-100vw;
width:100vw;
height:100vh;
z-index: 40000;
Overflow:auto;
}
#sz div {
width:100vw;
height:10vh;
position:relative;
	top:0vw;
background-color:#FF6699;
z-index: 40000;
}
#sz p {
color:#FF6699;

}
#szno {
width:30vw;
height:30px;
border-style:solid;
border-color:#eee;
color:white;
background-color:#FF6699;
border-radius:8px;
outline: none;
}
#sza {

border-style:none;
color:#FF6699;
}
#szabutton {
width:25px;
height:25px;
border-style:solid;
border-color:#eee;
color:#FF6699;
background-color:#FF6699;
border-radius:300px;
margin-left:50px;
outline: none;
}
#szb {

border-style:none;
color:#FF6699;
}
#szbbutton {
width:25px;
height:25px;
border-style:solid;
border-color:#eee;
color:#FF6699;
background-color:#FF6699;
border-radius:300px;
margin-left:50px;
outline: none;
}
#szc {

border-style:none;
color:#FF6699;
}
#szcbutton {
width:25px;
height:25px;
border-style:solid;
border-color:#eee;
color:#FF6699;
background-color:#FF6699;
border-radius:300px;
margin-left:50px;
outline: none;
}
#szd {

border-style:none;
color:#FF6699;
}
#szdbutton {
width:25px;
height:25px;
border-style:solid;
border-color:#eee;
color:#FF6699;
background-color:#FF6699;
border-radius:300px;
margin-left:50px;
outline: none;
}
.imgq {
width:105%;
position:absolute;
top: -2px;
left: -2px;
border-radius:300vw;

}
.butw {
width:25%;
height:25vw;
position:relative;
top: 10%;
border-radius:300px;
outline: none;
border-style:none;
background-color:transparent;
}

.divq {

width:100%;
height:200vh;
display:flex; 
flex-direction:column;
align-items:center;
}
.divw {
width:18vw;
height:18vw;
position:absolute;
top: 140%;
left: 5vw;
border-radius:5vw;
background:white;
filter: drop-shadow(0px 2px 5px #eee);
}
.diva {
width:18vw;
height:18vw;
position:absolute;
top: 140%;
left: 30vw;
border-radius:5vw;
background:white;
filter: drop-shadow(0px 2px 5px #eee);
}
.divz {
width:18vw;
height:18vw;
position:absolute;
top: 140%;
left: 55vw;
border-radius:5vw;
background:white;
filter: drop-shadow(0px 2px 5px #eee);
}
.divqq {
width:18vw;
height:18vw;
position:absolute;
top: 140%;
left: 80vw;
border-radius:5vw;
background:white;
overflow:hidden;
filter: drop-shadow(0px 2px 5px #eee);
}

.butq {
width:18vw;
height:18vw;
position:relative;
left: 0vw;
border-radius:5vw;
background:white;
border-style:none;
	outline: none;
filter: drop-shadow(0px 2px 5px #eee);
}
.buta {
width:18vw;
height:18vw;
position:relative;
left: 0vw;
border-radius:5vw;
background:white;
border-style:none;
filter: drop-shadow(0px 2px 5px #eee);
	outline: none;
}
.butz {
width:18vw;
height:18vw;
position:relative;
left: 0vw;
border-radius:5vw;
background:white;
border-style:none;
	outline: none;
filter: drop-shadow(0px 2px 5px #eee);
}
.butqq {
width:18vw;
height:18vw;
position:relative;
left: 0vw;
border-radius:5vw;
background:white;
border-style:none;
	outline: none;
filter: drop-shadow(0px 2px 5px #eee);
}
.imgw {
position: absolute;
top: -20%;
left:-4vw;
width:27vw;
}
.imga {
position: absolute;
top: -20%;
left:-4vw;
width:27vw;
}
.imgz {
position: absolute;
top: -20%;
left:-4vw;
width:27vw;
}
.imgqq {
position: absolute;
top: -20%;
left:-5vw;
width:27vw;
}
.dive {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid white;
  position: absolute;
top: -30px;
  }
.divd {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid white;
  position: absolute;
top: -30px;
  }
.divc {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid white;
  position: absolute;
top: -30px;
  }
.divr {
width: 40vw;
height: 40vw;
background:white;
position: absolute;
top:28vw ;
opacity:0;
filter: drop-shadow(0px 2px 5px #eee);
}
.divs {
width: 40vw;
height: 40vw;
background:white;
position: absolute;
top:28vw ;
opacity:0;
filter: drop-shadow(0px 2px 5px #eee);
}
.divx {
width: 40vw;
height: 40vw;
background:white;
position: absolute;
top:28vw ;
opacity:0;
filter: drop-shadow(0px 2px 5px #eee);
}
.divr img {
width: 40vw;
height: 40vw;
}
.divs img {
width: 40vw;
height: 40vw;
}
.divx img {
width: 40vw;
height: 40vw;
}

.dq {

height:4000px;
width:100vw;
filter: drop-shadow(0px 2px 5px #525252);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
#background {
height:100%;
width:100vw;
background:white;
z-index: -100;
position: absolute;
margin-top:0px;
opacity:0.4;
filter: drop-shadow(0px 2px 10px  #aab5bc);
border-radius:5vw;
display:flex; 
flex-direction:column;
align-items:center;

}
.divA {
width:80vw;
height:130vw;
position:relative;
left:10vw;
margin-top:400px;
filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;

}

.divAA {
background:white;
overflow:auto;
width:100%;
height:80%;
}
.divAA button {
width:100%;
height:15%;
position:relative;
top:-5px;
background:white;
overflow:scroll;
border-style:none;
}
.divAA button:hover {
color:white;
width:100%;
height:18%;
background:#6c6c6c;
border-style:solid;
-webkit-transition-property:width,height;
	-webkit-transition-duration:1s;

}
.AL:hover:after {
content: '是番剧《潜行吧！奈亚子》的op，其音乐让人听了热血沸腾，节奏感强，听了容易上瘾233 ';
}

.AA:hover:after {
content: '来自电影《朝花夕誓》的主题曲，纯净的歌声让人陶醉。纯洁的歌声仿佛让人看到玛奇亚对艾瑞尔的爱“你就是我的希比奥尔”';
}

.AB:hover:after {
content: '来自动漫《中二病也要谈恋爱》第一季的op，歌曲的旋律让人有一种莫名的上头，这也是让我非常喜欢的一首歌';

}

.AC:hover:after {
content: '来自动漫《辉夜大小姐想让我告白》第一季的op，这首歌曲疑似是中文歌233，其旋律让人十分上头。';

}

.AD:hover:after {
content: '来自动漫《一周的朋友》的op，这是一首不像op的op，不过歌词倒是照应剧情了，歌曲有一点悲惨，不过大家放心原番还是挺欢快的';

}

.AE:hover:after {
content: '来自动漫《幸运星》的op，这首歌也是脑残舞的配乐，歌曲十分欢快，歌词有点烫嘴';

}

.AF:hover:after {
content: '是乐队“放学后茶会”的处女作，这首歌由唯和mio主唱，歌词中的‘ふわふわ時間’和中文‘滑滑蛋’音相似，所以又叫滑滑蛋';
}

.AG:hover:after {
content: '是偶像团“μs”的歌曲，这首歌是真姬作曲作词。';
}

.APA {
width: 0;
  height: 0;
  border-right: 30px solid transparent;
  border-left: 180px solid #FF6699;
  border-bottom: 30px solid #FF6699;
  border-top: 30px solid #FF6699;
  
filter: drop-shadow(0px 2px 10px #aab5bc);
}
.APB {
font-size:25px;
color:white;
position:absolute;
left: 10vw;
top:-5vw;
z-index: 88;
}
.APPA {
width: 82vw;
height:20%
overflow:hidden;
z-index: 88;
}
.divB {
background:white;
width:80vw;
height:100vw;
position:relative;
left:10vw;
margin-top:150px;
filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;
overflow :hidden;
border-radius:7vw;
}
.BA {
width:100%;
position:relative;
top:0px;
opacity:0.8;

}
.BBA {
position:absolute;
top:0px;
width:100%;
height:100%;
z-index: 3;
border-style:none;
background-color:transparent;

}
.BB {
color:#C09F96;
font-size:7vw;
position:absolute;
top:38%;
}
.BC {
color:#876C60;
position:absolute;
top:63%;
text-align-last: left;
}
.divB::-webkit-scrollbar {
display:none;
}

.BE {
position:absolute;
top:52%;
left:0px;
font-size:4vw;
color:#876C60;
}
 
.no {
position:fixed;
	top:5vh;
	left:90vw;
width:10vw;
height:10vw;
outline: none;
z-index: 999;
display:none;
background-color:#FF6699;
color:white;
border-style:none;
}


.yue {
position:fixed;
	bottom:10vh;
	left:1vw;
	background-color:transparent;
	width:10vw;
	height:10vw;
	border-style:none;
    z-index: 99999991;
    outline: none;
}
.yuea {
position:fixed;
	bottom:15vw;
	left:1vw;
	width:10vw;
	height:10vw;
    z-index: 99999991;
}

.divC {
background:white;
width:80vw;
height:100vw;
position:relative;
left:10vw;
margin-top:80px;
filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;
overflow :hidden;
border-radius:7vw;
}
.CCA{
position:absolute;
top:0px;
width:100%;
height:100%;
z-index: 3;
border-style:none;
background-color:transparent;
}
.CE {
width:100%;
position:relative;
top:0px;
opacity:0.8;
}
.CC {
color:#C09F96;
font-size:7vw;
position:absolute;
top:38%;
}
.CD {
color:#876C60;
position:absolute;
top:63%;

}
.divC::-webkit-scrollbar {
display:none;
}

.CA {
position:absolute;
top:52%;
left:0px;
font-size:4vw;
color:#876C60;
}
.CF {
background:white;
position:absolute;
top:43%;
left:0px;
width:100%;
height:30%;
opacity:0.9;
}
.divD {

width:80vw;
height:100vw;
position:relative;
left:10vw;
margin-top:180px;

filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;
}
.divDA {
background:white;
overflow:hidden;
width:100%;
height:80%;
}
.DA {
width:100%;
position:relative;
left:0%;
top:-20%;
}
.DB {
color:#2B4849;
position:absolute;
top:60%;
}
.DC {
position:absolute;
top:70%;
color:#2B4849;
}
.DD {
background:white;
position:absolute;
top:60%;
left:0px;
width:100%;
height:50%;
opacity:0.9;
}
.divD::-webkit-scrollbar {
display:none;
}
.BPB {
width: 0;
  height: 0;
  border-right: 30px solid transparent;
  border-left: 180px solid #FF6699;
  border-bottom: 30px solid #FF6699;
  border-top: 30px solid #FF6699;
  
filter: drop-shadow(0px 2px 10px #aab5bc);
}
.BBPB {
font-size:25px;
color:white;
position:absolute;
left: 7%;
top:-5%;
z-index: 88;
}
.BPPB {
width: 82vw;
height:20%
overflow:hidden;
z-index: 88;

}



.divE {
background:white;
width:80vw;
height:100vw;
position:relative;
left:10vw;
margin-top:80px;
filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;
overflow :hidden;
text-align-last: left;
border-radius:7vw;
}
.DDA{
position:absolute;
top:0px;
width:100%;
height:100%;
z-index: 3;
border-style:none;
background-color:transparent;
}
.EE {
width:100%;
position:relative;
top:0px;
opacity:0.8;
}
.EC {
color:#C09F96;
font-size:7vw;
position:absolute;
top:38%;
}
.ED {
color:#876C60;
position:absolute;
top:63%;

}
.divE::-webkit-scrollbar {
display:none;
}

.EA {
position:absolute;
top:52%;
left:0px;
font-size:4vw;
color:#876C60;
}
.EF {
background:white;
position:absolute;
top:43%;
left:0px;
width:100%;
height:30%;
opacity:0.9;
}
.EG {
position:absolute;
top:70%;
}

.divG {
background:white;
width:80vw;
height:100vw;
position:relative;
left:10vw;
margin-top:80px;
filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;
overflow :hidden;
text-align-last: left;
border-radius:7vw;
}
.EEA{
position:absolute;
top:0px;
width:100%;
height:100%;
z-index: 3;
border-style:none;
background-color:transparent;
}
.GE {
width:100%;
position:relative;
top:0px;
opacity:0.8;
}
.GC {
color:#C09F96;
font-size:7vw;
position:absolute;
top:38%;
}
.GD {
color:#876C60;
position:absolute;
top:63%;

}
.divG::-webkit-scrollbar {
display:none;
}

.GA {
position:absolute;
top:52%;
left:0px;
font-size:4vw;
color:#876C60;
}
.GF {
background:white;
position:absolute;
top:43%;
left:0px;
width:100%;
height:30%;
opacity:0.9;
}
.GG {
position:absolute;
top:70%;
}

.divF {
background:white;
width:80vw;
height:100vw;
position:relative;
left:10vw;
margin-top:80px;
filter: drop-shadow(0px 2px 10px  #aab5bc);
z-index: 1;
overflow :hidden;
text-align-last: left;
border-radius:7vw;
}
.FFA{
position:absolute;
top:0px;
width:100%;
height:100%;
z-index: 3;
border-style:none;
background-color:transparent;
}
.FE {
width:100%;
position:relative;
top:0px;
opacity:0.8;
}
.FC {
color:#C09F96;
font-size:7vw;
position:absolute;
top:38%;
}
.FD {
color:#876C60;
position:absolute;
top:63%;

}
.divF::-webkit-scrollbar {
display:none;
}

.FA {
position:absolute;
top:52%;
left:0px;
font-size:4vw;
color:#876C60;
}
.FF {
background:white;
position:absolute;
top:43%;
left:0px;
width:100%;
height:30%;
opacity:0.9;
}
.FG {
position:absolute;
top:70%;
}


#ss-div {
position:fixed;
	top:-100px;
	left:15vw;
width:70%;
z-index: 999;
}
#ssa {
  width: 100%;
  height:34px;
background:white;
color:#FF6699;
border-style:solid;
border-color:#FF6699;

}


  
#ss-no {
position:fixed;
	top:0vh;
	left:0%;
	width:15%;
height:45px;
border-style:none;
background:#FF6699;
} 


#ss-no-a {
width:3vw;
height:3vw;
border-style:solid;
border-color:white;
background:#FF6699;
border-radius:640px;
}
#ss-no-b {
width:0.5vw;
height:2vw;
margin-left:1.5vw;
background:white;

}
#ss-no-c {
transform:rotate(-30deg);
margin-left:40%;
margin-top:0%;
}
#ssb {
  border-collapse: collapse;
  background:white;
  overflow:auto;
}
#ssb p {
display:none;
}
#ssb td {
  text-align: left; /* 文本靠左对齐 */
  padding: 12px; /* 设置内边距 */
}
 
#ssb tr {

display:none;
width:70vw;
color:#FF6699;
  /* 每一行设置底部边框*/
  border-bottom: 1px solid #FF6699;
}
#ssb a {

text-decoration:none;
color:#FF6699;
  /* 每一行设置底部边框*/
  
}
footer {

white-space: pre-wrap;
width:80vw;

text-align:center
}
footer p {
font-size:0.9em;
line-height:1.8em;
}
footer small {
font-size:0.8em;
line-height:1.8em;
}
#foot {
color:#FF6699;
font-size:1em;
}
#ki {
color:black;
text-decoration:none;
font-size:0.9em;
}
footer {
width:100vw;
height:20vh;
z-index: 999;
display:flex; 
flex-direction:column;
align-items:center;
background:white;
opacity:0.98;
filter: drop-shadow(10px 10px 10px  #aab5bc);
border-radius:5vw;
margin-top:-5vh;
position:relative;
top: 20vh;
Overflow:auto;

}
input::-webkit-input-placeholder{
color:#FF6699;

}

input[type=range] {
    -webkit-appearance: none;
    width: 60vw;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}    
input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px; /*将轨道设为圆角的*/
    background: #eee;
    box-shadow:}
    
input[type=range]:focus {
    outline: none;
    }
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #FF6699; 
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 }