
.music {
background-color:#F1F3F4;
width:50px;
height:50px;
position:fixed;
	bottom:0vh;
	left:-50px;
overflow: hidden;
z-index: 999999990;
border-radius:15px;
}
.music img {
width:50px;
height:50px;
position:fixed;
	bottom:0vh;
	left:-5px;
	z-index: 11;
}
.music audio {
background-color:#F1F3F4;
width:300px;
height:100px;
position:absolute;
bottom:0px;
left:53px;
}
.music ul {
list-style-type: none;
}
.music:hover {
position:fixed;
	left:2px;
width:350px;
-webkit-transition-property:width,height;
	-webkit-transition-duration:1s;
}
.ck {
position:absolute;
top:0px;
left:0px;
width:350px;
height:200px;
overflow:scroll;
}
.music button {
width:350px;
height:40px;
}
#musicp {

width:100vw;
color:#FF6699;
text-align:center;
position:fixed;
bottom:50px;
left:0px;
z-index: 999999990;
filter: drop-shadow(2px 2px 2px black);
outline: none;
pointer-events: none;

}
